<!DOCTYPE html>
<html>
<head>
</head>
<boby>
<br>
<br>
    <center>
        <img src='https://cdn.pixabay.com/photo/2022/03/29/21/04/eggs-7100211__340.jpg' class="img-fluid" alt="..."  max-width="100%;" height="auto;"    >
        </center>
        <br><br>
    <center>
    <h1 style="background-color: #FCF505;" >Visión: <h1>
        <p>   La consolidación de la compañía no tiene mucho de ser, con tiempo y hechos se demostrará la verdadera valía en el sector de productos de limpieza.  </p>
    <h1 style="background-color: #FCF505;" >Misión: <h1>
        <p> Elabora de una manera eficiente los productos de limpieza y buena gestión de estos  a través de maquitas vendedoras en dos sucursales, con el añadido de poder visualizar y administrar mediante esta página </p>
    </center>

</boby> 
<footer>
    
</footer>
</html>