<!DOCTYPE html>
<html>
<head>
</head>
<boby>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   
   
        <br><br>
    <center>
        <h1 style=" color: rgb(151, 47, 47);"> Vision</h1>
        <h2>En nuestro laboratorio realizamos reparaciones y calibraciones de todo tipo de instrumentos de medición de presión y temperatura. </h2> 
        <h1 style=" color: rgb(151, 47, 47);"> Mision</h1>
        <h2> Incorporamos el servicio de capacitación en planta brindando de esta manera la posibilidad de capacitar al personal de instrumentación, trasladando toda nuestra experiencia relacionada con el uso, conocimiento y mantenimiento de instrumentos de medición de presión y temperatura </h2> 
    </center>

 
<body background="https://media.istockphoto.com/vectors/thermometer-icon-set-hot-and-cold-weather-vector-isolated-vector-id1155429134?k=20&m=1155429134&s=612x612&w=0&h=n-aXKRq7az3ADsVxtZd5kKC1qs_nu4IhgUzcV_rUpRQ="  ><footer>
    
</footer>
</html>